 /* body{
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */




.form_box {
    background-color: #ffffff;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 10px;
}
.input_field {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    margin: 3px 0;
    font-size: 14px;
    width: 100%;
}
.textarea_field {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    margin: 3px 0;
    font-size: 14px;
    width: 100%;
    height: 160px;
}
#uploadBtn {
    display: inline-block;
    padding: 6px 10px;
    color: #fff;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #5cb85c;
    cursor: pointer;
    border: 1px solid #4cae4c;
    border-radius: none;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.file_upload {
    display: none;
}

label {
    display: inline-block;
    padding: 6px 10px;
    color: #fff;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #5cb85c;
    cursor: pointer;
    border: 1px solid #4cae4c;
    border-radius: none;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}